{% extends "base.html" %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start mb-3">
          <a href="{{ product.image.url }}" target="_blank">
            <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ product.image.url }}">
          </a>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">
        </h6>
        <p class="card-text">{{ product.name }}</p>
        <p class="card-text">{{ product.price }} ₽</p>
        {% if product.description %}
          <p class="card-text">Описание: {{ product.description }}</p>
        {% endif %}
        {% if product.size %}
          <p class="card-text">Размер: {{ product.size}}</p>
        {% endif %}
        {% if product.color %}
          <p class="card-text">Цвет: {{ product.color}}</p>
        {% endif %}
        {% if product.material %}
          <p class="card-text">Материал: {{ product.material}}</p>
        {% endif %}
      </div>
      <div class="card-footer">
        {% if user.is_authenticated %}
          {% if user_review %}
            <strong>Вы уже оставили отзыв на этот товар:</strong>
            <div>
              {{ user_review.text|linebreaksbr }}
              <div>
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'product:edit_review' product.id user_review.id %}" role="button">
                  Редактировать отзыв
                </a>
                <a class="btn btn-sm btn-outline-danger" href="{% url 'product:delete_review' product.id user_review.id %}" role="button">
                  Удалить отзыв
                </a>
              </div>
            </div>
          {% else %}
            {% include "includes/review_form.html" %}
          {% endif %}
        {% else %}
            <p><a href="{% url 'login' %}">Войдите</a>, чтобы оставить отзыв</p>
        {% endif %}
        {% for review in reviews %}
          {% if not user.is_authenticated or review.id != user_review.id %}
            {% include "includes/review_card.html" with review=review %}
          {% endif %}
        {% empty %}
          <p class="text-muted">Пока нет отзывов. Будьте первым!</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}